# Airflow specific ignores
logs/
dags/__pycache__/
plugins/__pycache__/
airflow.db
*.pid
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
.env

# Docker
*.pid
*.sock

# System files
.DS_Store
Thumbs.db
